
body{
    background:radial-gradient(circle farthest-corner at 10% 20% , rgba(90,92,106,1)
0%, rgba(32,45,58,1) 81.3%) ;

}
.login-box{
/*    display:grid;*/
/*    grid-template-rows: 10% 90%;*/
/*    grid-template-areas:*/
/*    "q q q q q w w w w w w w"*/
/*    "q q q q q w w w w w w w"*/
/*    "q q q q q w w w w w w w"*/
/*;*/
    display: flex;

}


.login{

    /*grid-area:q;*/
    background-color: #4444;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,.2);
    margin: 70px 80px 0px 40px;
    width: 800px;
    height: 500px;
    /*padding: 200px 100px;*/
    border-radius: 20px;
}
.top{

}
.user{
    /*background-color: #2ecc71;*/
    display: grid;
    margin: 40px 20px 20px 20px;
    padding: 10px;

}
.user label{
    font-size: 1.3em;
    padding-bottom:15px ;
    color: white;
}
.user input{
    /*border: none;*/
    border-radius: 20px;
    padding: 5px;
    background-color: #4444;
    border: white solid 2px;
    color: white;
}

.pass{
    /*background-color: #2ecc71;*/
    display: grid;
    margin: 20px 20px 20px 20px;
    padding: 10px;

}
.pass label{
    font-size: 1.3em;
    padding-bottom:15px ;
    color: white;

}
.pass input{
    border-radius: 20px;
    padding: 5px;
    background-color: #4444;
    border: white solid 2px;
    color: white;

}

p{
    /*background-color: #2ecc71;*/
    margin: 20px 20px 20px 20px;
    padding: 10px;
    font-size: 1.1em;
    color: white;

}
p a{
    color: red;
    font-size: 1.2em;
}

.btn{

    /*background-color: #2ecc71;*/
    margin: 20px 20px 20px 20px;
    padding: 10px;
    text-align: center;
}
.btn input{

    background-color: red;
    border: red solid 2px;
    /*margin: 20px 20px 20px 20px;*/
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    text-align: center;
}



.bottom{
    /*background-color: #2ecc71;*/
    margin: 20px 20px 20px 20px;
    padding: 20px;
    text-align: center;
    border-top: 3px solid white;
}
.bottom i{

    padding: 1px 80px;
    text-align: center;
    color: white;
    transition: .57s;
    font-size: 1.2em;
}
.bottom i:hover{

    transform: scale(2);
}


.img{
    /*background-color:red;*/


}
.img img{
    background-color: #696969;
    width: 100%;
    /*padding-bottom:10px ;*/
    margin-top: 100px;
    border-radius: 25px;
}

